@CHARSET "ISO-8859-1";

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding: 0px;
}

.header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	background-color: #DFF0D8;
}

#wrapper {
	text-align: center;
	width: 800%;
}

.bottom {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-align: center;
	vertical-align: middle;
	color: #8E969D;
}

/* Header */

.giro img {
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	cursor: pointer;
}
.giro img:hover {
	-webkit-transform: rotate(-360deg);
	-moz-transform: rotate(-360deg);
	-ms-transform: rotate(-360deg);
	transform: rotate(-360deg);
}